<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <ul class="menu"> 
            <li><a id="menu_consultar" class="active">Consultar</a></li>
            <li><a id="menu_cadastrar">Cadastrar</a></li>
            <li><a id="menu_alterar">Alterar</a></li>
            <li><a id="menu_deletar">Deletar</a></li>
        </ul>
        <br>
        <span style="color:red;"><b>{{ status }}</b></span>  
        
        <div id="consultar" style="display: '';">

            <h2>Consultar</h2>

            <fieldset>
                <legend>Consultar</legend>
                <form action="consultar_produto" method="POST" name="formulario2" id="formulario2">
                    <label for="produto_consulta">Produto:</label>
                    <input id="produto_consulta" name="produto_consulta" type="text">
                    <br><br>
                    <button type="submit">Consultar</button>
                </form>
            </fieldset>

            <fieldset>
                <legend>Consultar</legend>
                <form action="consultar_idProduto" method="POST" name="formulario5" id="formulario5">
                    <label for="consultar_idProduto">ID do Produto:</label>
                    <input id="consultar_idProduto" name="consultar_idProduto" type="number">
                    <br><br>
                    <button type="submit">Consultar</button>
                </form>
            </fieldset>

            <h1>Resultados</h1>

            <ul>
                {% for item in resultado %}
        
                    {% for i in item %}
                        <li> <b>{{ loop.index }} - {{ i[0] }}:</b>  {{ i[1] }}</li>
                    {% endfor %}
        
                    {% if loop.last == false %}
                        <p> ---------------- </p>   
                    {% else %}
                        <p> ####################################### </p>  
                    {% endif %}
                    
                {% endfor %}
            </ul>
            
            <!-- {% block bloco_resultado %}
            {% endblock %} -->

        </div>

        <div id="cadastrar" style="display: none;" >
            <h2>Cadastrar</h2>
        
            <fieldset>
                <legend>Formulário</legend>
                <form action="cadastrar" method="POST" name="formulario" id="formulario">
                    <label for="descricao">Produto:</label>
                    <input id="descricao" name="descricao" type="text">
                    <br><br>
                    <label for="estoque_minimo">Estoque Mínimo:</label>
                    <input id="estoque_minimo" name="estoque_minimo" type="number">
                    <br><br>
                    <label for="estoque_maximo">Estoque Máximo:</label>
                    <input id="estoque_maximo" name="estoque_maximo" type="number">
                    <br><br>
                    <label for="qtde">Quantidade:</label>
                    <input id="qtde" name="qtde" type="number">
                    <br><br>
                    <label for="valor_unitario">Valor Unitario:</label>
                    <input id="valor_unitario" name="valor_unitario" type="number" step="0.01" value="0.00" placeholder="0.00">
                    <br><br>
                    <label for="data_entrada">Data de Entrada:</label>
                    <input id="data_entrada" name="data_entrada" type="date">
                    <br><br>
                    <button type="submit">Cadastrar</button>
    
                </form>
            </fieldset>
        </div>

        <div id="alterar" style="display: none;" >
            <h2>Alterar</h2>
        
            <fieldset>
                <legend>Formulário</legend>
                <form action="alterar" method="POST" name="formulario3" id="formulario3">
                    <label for="descricao_alt">Produto:</label>
                    <input id="descricao_alt" name="descricao_alt" type="text">
                    <br><br>
                    <label for="estoque_minimo_alt">Estoque Mínimo:</label>
                    <input id="estoque_minimo_alt" name="estoque_minimo_alt" type="number">
                    <br><br>
                    <label for="estoque_maximo_alt">Estoque Máximo:</label>
                    <input id="estoque_maximo_alt" name="estoque_maximo_alt" type="number">
                    <br><br>
                    <label for="qtde_alt">Quantidade:</label>
                    <input id="qtde_alt" name="qtde_alt" type="number">
                    <br><br>
                    <label for="valor_unitario_alt">Valor Unitário:</label>
                    <input id="valor_unitario_alt" name="valor_unitario_alt" type="number" step="0.01" value="0.00" placeholder="0.00">
                    <br><br>
                    <label for="data_entrada_alt">Data de Entrada:</label>
                    <input id="data_entrada_alt" name="data_entrada_alt" type="date">
                    <br><br>
                    <button type="submit">Alterar</button>
    
                </form>
            </fieldset>
        </div>

        <div id="deletar" style="display: none;" >
            <h2>Deletar</h2>
        
            <fieldset>
                <legend>Formulário</legend>
                <form action="deletar" method="POST" name="formulario4" id="formulario4">
                    <label for="produto_del">Produto:</label>
                    <input id="produto_del" name="produto_del" type="text"><br><br>
                    <button type="submit">Deletar</button>
    
                </form>
            </fieldset>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
        <script src="js/script.js" type='text/javascript' charset="utf-8" ></script>
    
    </body>
</html>
