USE AC01
GO
/****** Object:  Table [dbo].[aposta]    Script Date: 16/08/2020 19:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APOSTA](
	[DATA] [date] NULL,
	[TIPO_APOSTA] [nvarchar](255) NULL,
	[VALOR_APOSTADO] [decimal](38, 0) NULL,
	[RESULTADO] [decimal](38, 0) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[aposta] ([DATA], [TIPO_APOSTA], [VALOR_APOSTADO], [RESULTADO]) VALUES (CAST(N'1988-05-01' AS Date), N'CORRIDA DE CAVALOS', CAST(100 AS Decimal(38, 0)), CAST(100 AS Decimal(38, 0)))
INSERT [dbo].[aposta] ([DATA], [TIPO_APOSTA], [VALOR_APOSTADO], [RESULTADO]) VALUES (CAST(N'1988-05-02' AS Date), N'FUTEBOL', CAST(50 AS Decimal(38, 0)), CAST(0 AS Decimal(38, 0)))
INSERT [dbo].[aposta] ([DATA], [TIPO_APOSTA], [VALOR_APOSTADO], [RESULTADO]) VALUES (CAST(N'1988-05-03' AS Date), N'CORRIDA DE CAVALOS', CAST(40 AS Decimal(38, 0)), CAST(500 AS Decimal(38, 0)))
GO
