<!--#include file="include\functions.asp"-->
<%
'declaration
dim useraction
dim conn,dsn,rs,sql,rt,codigo,nome,sqltexto
'if the user submit the form
useraction = request("action")
select case useraction
	case "login"
		USER0 = request.form("user")
		PASS0 = request.form("pass")
		
		response.buffer = true
		'declaration
		set rs =_
			FetchRecordSetNoParms(_
					"SELECT * FROM dbo.FCAV_WEBUSERS WHERE [USER] = '" & USER0 & "' AND [PASS]='" & PASS0 & "'"_
				)
		
		if rs.eof and rs.bof then
			response.redirect "erro2.asp"
		else
			session("auth") = user0
			session("status") = RS("STATUS")
			session("grupo") = RS("GRUPO")
			response.redirect "opt.asp"
		end if
	end select
%>

<HTML>
<!-- HTML 4 -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- HTML5 -->
<meta charset="utf-8"/>

<HEAD>
<link rel="stylesheet" type="text/css" href="css/web.css">
<SCRIPT LANGUAGE="JavaScript1.3" type="text/javascript">
function valid(){
	var user = document.theform.user.value
	var userLength = document.theform.user.value.length
	var pass = document.theform.pass.value
	var passLength = document.theform.pass.value.length
	
	if(userLength<4 || user==""){
		alert("Usuario deve ter, no minimo, 4 caracteres.");
		document.theform.user.focus()
		return false;
	}

	if(passLength!=6 || pass==""){
		alert("A senha deve conter 6 caracteres.");
		document.theform.pass.focus()
		return false;
	}
	
	return true;
}
</script>

<TITLE>FUNDA&Ccedil;&Atilde;O VANZOLINI</TITLE>

</HEAD>

<BODY bgcolor="#ffffff">
<div align="center">
<img src="banner.jpg" width="740" height="93" alt="" title="" border="0" />
<br>&nbsp;


<P>&nbsp;</P>
<FORM name="theform" action="default.asp?action=login" method="post" onsubmit="return valid()">
<TABLE width=740 cellpadding=6 align=center bgcolor="#EEF0FF" border=0>
	<TR><TD align=center>
		<P CLASS="max3"><b>APOIO AO SISTEMA LYCEUM</b></P> 
		<p>O acesso &agrave;s p&aacute;ginas seguintes &eacute; restrito.</p> 
		<p>Por favor, identifique-se.</p>
		<p>Ao usar este sistema voc&ecirc; declara ter conhecimento e concordar com nossa Declara&ccedil;&atilde;o de Privacidade,<br> que pode ser acessada pelo link a seguir. </p>
		<p><a href="https://drive.google.com/file/d/15Oy6QMu3E0R2Ii__lHsIa2DS8sJTNYeC/view?usp=sharing" target="_blank" ><b>Declara&ccedil;&atilde;o de Privacidade</b></a>&nbsp;&nbsp;</p>
	</TD></TR>
</TABLE>

<BR>

<TABLE width=740 cellpadding=6 align=center bgcolor="#EEF0FF" border=0>
	<TR>
		<td></td><td></td><td></td><td align=right width=30%>Usu&aacute;rio: </td><TD align=left><INPUT type="text" name="user" size=15 maxlength=12> (4-12 caracteres)</TD>
	</TR>
	<TR>
		<td></td><td></td><td></td><td align=right>Senha: </td><TD align=left><INPUT type="password" name="pass" size=15 maxlength=6> (6 caracteres)</TD>
	</TR>
	<TR>
		<td></td><td></td><td></td><TD colspan=2 align=center><INPUT type="submit" value="Entrar"></TD>
	</TR>
</TABLE>

<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 BGCOLOR="#ffffff" WIDTH=740>
<tr><td align="right">&nbsp;<br>
<a href="senha.asp"><b>Alterar senha</b></a>&nbsp;&nbsp;</P>
</td></tr>
</table>



</FORM>

</BODY>
</HTML>
